<div *ngIf = "clinic">
    <h2>{{title}} {{clinic.name}}</h2>
    <div>
        <label>id: </label>{{clinic.id}}
    </div>
    <div>
        <label>name: </label>
        <input [(ngModel)]="clinic.name" (keyup.enter)="saveClinic()" autofocus placeholder="Clinic name"/>
    </div>
</div>

<ul class="clinics">
    <li *ngFor="let clinic of clinics">
        <span class="badge">{{clinic.id}}</span> {{clinic.name}}
        <button (click)="editClinic(clinic.id)">edit</button>
        <button (click)="deleteClinic(clinic.id); $event.stopPropagation()">delete</button>
    </li>
</ul>
<button (click)="addClinic()" class="add-new">Add new</button>